{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Interactive BOM for KiCAD for
    {{ object.reference_number_str }}: {{ object.name }}
  </title>
  <script type="module">
    import 'https://code.jquery.com/jquery-3.5.1.min.js';
    const $ = window.$;

    import { BrowserMultiFormatReader,
             NotFoundException } from '{% static "zxing_js/index.js" %}';

    import Cookies from '{% static "js/js.cookie-3.0.1.min.mod.js" %}';


    const csrf_token = Cookies.get('csrftoken');


    const code_reader = new BrowserMultiFormatReader();
    const part_specification_api_url_base = "{% url 'api-inventory-inventory_record-from_reference_number-part_specifications' reference_number='CAFEBABE' %}";
    const barcode_re = /^6000-[0-9]{10}$/g;
    const inventory_update_api_url_base = "{% url 'api-inventory-inventory_record-update_quantity' pk=1337 %}";
    const inventory_decrease_api_url_base = "{% url 'api-inventory-inventory_record-decrease_quantity' pk=1337 %}";

    function part_specification_api_url(reference_number) {
        return part_specification_api_url_base.replace("CAFEBABE",
                                                       reference_number);
    }

    function inventory_update(pk, estimated_count, estimated_accuracy, cb) {
        const url = inventory_update_api_url_base.replace("1337", pk);

        const request_body = {
            "estimate_count": estimated_count,
            "estimate_accuracy": estimated_accuracy,
            "csrfmiddlewaretoken": csrf_token
        };

        $.post(url, request_body, cb, "json");
    }

    function inventory_decrease(pk, decrease_count, cb) {
        const url = inventory_decrease_api_url_base.replace("1337", pk);

        const request_body = {
            "decrease_count": decrease_count,
            "csrfmiddlewaretoken": csrf_token
        };

        $.post(url, request_body, cb, "json");
    }

    function disable_inventory_form() {
        $(".inventory_record input,button").prop("disabled", true);
    }

    function enable_inventory_form() {
        $(".inventory_record input,button").prop("disabled", false);
    }

    function update_inventory_record(data) {
        // Update text and data in inventory record area
        $("#inventory_record_reference_number").text(data.reference_number);
        var inv = $("#inventory_record_reference_number");
        inv[0].dataset.pk = data.pk;
        $("#inventory_record_count").val(data.estimate_count);
        $("#inventory_record_accuracy").val(data.estimate_accuracy);

        enable_inventory_form();
    }

    function update_inventory_record_part_specification(data) {
        update_inventory_record(data);

        // Update the part spec data
        var part_spec_filter = [];
        for(var i in data.part_specifications)
        {
            var part_specification =
                data.part_specifications[i];
            part_spec_filter.push(
                part_specification.reference_number);
        }
        var value = part_spec_filter.join(",");
        $("#filter").val(value).trigger("input");
    };

    function handle_barcode(barcode) {
        if(!barcode.match(barcode_re)){
            console.error("Not an inventory record barcode");
            return false;
        } else {
            console.log("Got an inventory record barcode");
            $.get(part_specification_api_url(barcode),
                  update_inventory_record_part_specification, "json");
            return true;
        }
    }

    code_reader.decodeFromVideoDevice(undefined, 'barcode_video',
        (result, err) => {
            if(result) {
                console.log(result.text);
                handle_barcode(result.text);
            }
            if(err &(!err instanceof NotFoundException)) {
                console.error(err);
            }
        }).catch(err => console.error(err));

    $("#barcode_input").keypress(
        function(e) {
            console.log(e);
            if(e.originalEvent.key == "Enter") {
                const barcode = $("#barcode_input").val();
                console.log(barcode);
                if(handle_barcode(barcode)) {
                    $("#barcode_input").val("");
                }
            }
        }
    );

    $("#inventory_record_update_quantity").click(
        function() {
            const count = parseInt($("#inventory_record_count").val());
            const accuracy = parseInt($("#inventory_record_accuracy").val());
            const inv = $("#inventory_record_reference_number");
            const pk = inv[0].dataset.pk;

            disable_inventory_form();

            console.log("Update quantity: ", pk, count, accuracy);
            inventory_update(pk, count, accuracy, update_inventory_record);
        }
    );

    $("#inventory_record_remove_n_button").click(
        function() {
            const decrease_count = parseInt($("#inventory_record_remove_count").val());
            const inv = $("#inventory_record_reference_number");
            const pk = inv[0].dataset.pk;

            disable_inventory_form();

            console.log("Remove quantity: ", pk, decrease_count);
            inventory_decrease(pk, decrease_count, update_inventory_record);
        }
    );

    $("#inventory_record_remove_one_button").click(
        function() {
            const inv = $("#inventory_record_reference_number");
            const pk = inv[0].dataset.pk;

            disable_inventory_form();

            console.log("Remove quantity: ", pk, 1);
            inventory_decrease(pk, 1, update_inventory_record);
        }
    );
  </script>
  <style>
  #barcode_video {
    border: 1px solid gray;
    width: 64px;
    height: auto;
  }

  .inventory_record_field {
    font-family: monospace;
  }

  button.inventory_record_button {
    width: auto;
    height: 32px;
    border-radius: 6px;
  }

  button.inventory_record_button:active:not(:disabled) {
    box-shadow: inset 0px 0px 5px #6c6c6c;
  }

  button.inventory_record_button:disabled {
    opacity: 0.5;
  }

  .inventory_record div {
    padding: 1px;
  }

  .inventory_values {
    width: 6em;
    text-align: right;
  }

  </style>
  <style type="text/css">
///CSS///
///USERCSS///
  </style>
  <script type="text/javascript" >
///////////////////////////////////////////////
///SPLITJS///
///////////////////////////////////////////////

///////////////////////////////////////////////
///LZ-STRING///
///////////////////////////////////////////////

///////////////////////////////////////////////
///POINTER_EVENTS_POLYFILL///
///////////////////////////////////////////////

///////////////////////////////////////////////
///CONFIG///
///////////////////////////////////////////////

///////////////////////////////////////////////
///PCBDATA///
///////////////////////////////////////////////

///////////////////////////////////////////////
///UTILJS///
///////////////////////////////////////////////

///////////////////////////////////////////////
///RENDERJS///
///////////////////////////////////////////////

///////////////////////////////////////////////
///TABLEUTILJS///
///////////////////////////////////////////////

///////////////////////////////////////////////
///IBOMJS///
///////////////////////////////////////////////

///////////////////////////////////////////////
///USERJS///
///////////////////////////////////////////////
  </script>
</head>

<body>
///USERHEADER///
<div id="topmostdiv" class="topmostdiv">
  <div id="top">
    <div style="float: right; height: 100%;">
      <div class="hideonprint menu" style="float: right; top: 8px;">
        <button class="menubtn"></button>
        <div class="menu-content">
          <label class="menu-label menu-label-top" style="width: calc(50% - 18px)">
            <input id="darkmodeCheckbox" type="checkbox" onchange="setDarkMode(this.checked)">
            Dark mode
          </label><!-- This comment eats space! All of it!
          --><label class="menu-label menu-label-top" style="width: calc(50% - 17px); border-left: 0;">
            <input id="fullscreenCheckbox" type="checkbox" onchange="setFullscreen(this.checked)">
            Full Screen
          </label>
          <label class="menu-label" style="width: calc(50% - 18px)">
            <input id="fabricationCheckbox" type="checkbox" checked onchange="fabricationVisible(this.checked)">
            Fab layer
          </label><!-- This comment eats space! All of it!
          --><label class="menu-label" style="width: calc(50% - 17px); border-left: 0;">
            <input id="silkscreenCheckbox" type="checkbox" checked onchange="silkscreenVisible(this.checked)">
            Silkscreen
          </label>
          <label class="menu-label" style="width: calc(50% - 18px)">
            <input id="referencesCheckbox" type="checkbox" checked onchange="referencesVisible(this.checked)">
            References
          </label><!-- This comment eats space! All of it!
          --><label class="menu-label" style="width: calc(50% - 17px); border-left: 0;">
            <input id="valuesCheckbox" type="checkbox" checked onchange="valuesVisible(this.checked)">
            Values
          </label>
          <div id="tracksAndZonesCheckboxes">
            <label class="menu-label" style="width: calc(50% - 18px)">
              <input id="tracksCheckbox" type="checkbox" checked onchange="tracksVisible(this.checked)">
              Tracks
            </label><!-- This comment eats space! All of it!
            --><label class="menu-label" style="width: calc(50% - 17px); border-left: 0;">
              <input id="zonesCheckbox" type="checkbox" checked onchange="zonesVisible(this.checked)">
              Zones
            </label>
          </div>
          <label class="menu-label" style="width: calc(50% - 18px)">
            <input id="padsCheckbox" type="checkbox" checked onchange="padsVisible(this.checked)">
            Pads
          </label><!-- This comment eats space! All of it!
          --><label class="menu-label" style="width: calc(50% - 17px); border-left: 0;">
            <input id="dnpOutlineCheckbox" type="checkbox" checked onchange="dnpOutline(this.checked)">
            DNP outlined
          </label>
          <label class="menu-label">
            <input id="highlightpin1Checkbox" type="checkbox" onchange="setHighlightPin1(this.checked)">
            Highlight first pin
          </label>
          <label class="menu-label">
            <input id="dragCheckbox" type="checkbox" checked onchange="setRedrawOnDrag(this.checked)">
            Continuous redraw on drag
          </label>
          <label class="menu-label">
            <span>Board rotation</span>
            <span style="float: right"><span id="rotationDegree">0</span>&#176;</span>
            <input id="boardRotation" type="range" min="-36" max="36" value="0" class="slider" oninput="setBoardRotation(this.value)">
          </label>
          <label class="menu-label">
            <input id="offsetBackRotationCheckbox" type="checkbox" onchange="setOffsetBackRotation(this.checked)">
            Offset back rotation
          </label>
          <label class="menu-label">
            <div style="margin-left: 5px">Bom checkboxes</div>
            <input id="bomCheckboxes" class="menu-textbox" type=text
                   oninput="setBomCheckboxes(this.value)">
          </label>
          <label class="menu-label">
            <div style="margin-left: 5px">Mark when checked</div>
            <div id="markWhenCheckedContainer"></div>
          </label>
          <label class="menu-label">
            <span class="shameless-plug">
              <span>Created using</span>
              <a id="github-link" target="blank" href="https://github.com/openscopeproject/InteractiveHtmlBom">InteractiveHtmlBom</a>
              <a target="blank" title="Mouse and keyboard help" href="https://github.com/openscopeproject/InteractiveHtmlBom/wiki/Usage#bom-page-mouse-actions" style="text-decoration: none;"><label class="help-link">?</label></a>
            </span>
          </label>
        </div>
      </div>
      <div class="button-container hideonprint"
           style="float: right; position: relative; top: 8px">
        <button id="fl-btn" class="left-most-button" onclick="changeCanvasLayout('F')"
                title="Front only">F
        </button>
        <button id="fb-btn" class="middle-button" onclick="changeCanvasLayout('FB')"
                title="Front and Back">FB
        </button>
        <button id="bl-btn" class="right-most-button" onclick="changeCanvasLayout('B')"
                title="Back only">B
        </button>
      </div>
      <div class="button-container hideonprint"
           style="float: right; position: relative; top: 8px">
        <button id="bom-btn" class="left-most-button" onclick="changeBomLayout('bom-only')"
                title="BOM only"></button>
        <button id="lr-btn" class="middle-button" onclick="changeBomLayout('left-right')"
                title="BOM left, drawings right"></button>
        <button id="tb-btn" class="right-most-button" onclick="changeBomLayout('top-bottom')"
                title="BOM top, drawings bot"></button>
      </div>
      <div class="button-container hideonprint"
           style="float: right; position: relative; top: 8px">
        <button id="bom-grouped-btn" class="left-most-button" onclick="changeBomMode('grouped')"
                title="Grouped BOM"></button>
        <button id="bom-ungrouped-btn" class="middle-button" onclick="changeBomMode('ungrouped')"
                title="Ungrouped BOM"></button>
        <button id="bom-netlist-btn" class="right-most-button" onclick="changeBomMode('netlist')"
                title="Netlist"></button>
      </div>
      <div class="hideonprint menu" style="float: right; top: 8px;">
        <button class="statsbtn"></button>
        <div class="menu-content">
          <table class="stats">
            <tbody>
              <tr>
                <td width="40%">Board stats</td>
                <td>Front</td>
                <td>Back</td>
                <td>Total</td>
              </tr>
              <tr>
                <td>Components</td>
                <td id="stats-components-front">~</td>
                <td id="stats-components-back">~</td>
                <td id="stats-components-total">~</td>
              </tr>
              <tr>
                <td>Groups</td>
                <td id="stats-groups-front">~</td>
                <td id="stats-groups-back">~</td>
                <td id="stats-groups-total">~</td>
              </tr>
              <tr>
                <td>SMD pads</td>
                <td id="stats-smd-pads-front">~</td>
                <td id="stats-smd-pads-back">~</td>
                <td id="stats-smd-pads-total">~</td>
              </tr>
              <tr>
                <td>TH pads</td>
                <td colspan=3 id="stats-th-pads">~</td>
              </tr>
            </tbody>
          </table>
          <table class="stats">
            <col width="40%"/><col />
            <tbody id="checkbox-stats">
              <tr>
                <td colspan=2 style="border-top: 0">Checkboxes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="hideonprint menu" style="float: right; top: 8px;">
        <button class="iobtn"></button>
        <div class="menu-content">
          <div class="menu-label menu-label-top">
            <div style="margin-left: 5px;">Save board image</div>
            <div class="flexbox">
              <input id="render-save-width" class="menu-textbox" type="text" value="1000" placeholder="Width"
                  style="flex-grow: 1; width: 50px;" oninput="validateSaveImgDimension(this)">
              <span>X</span>
              <input id="render-save-height" class="menu-textbox" type="text" value="1000" placeholder="Height"
                  style="flex-grow: 1; width: 50px;" oninput="validateSaveImgDimension(this)">
            </div>
            <label>
              <input id="render-save-transparent" type="checkbox">
              Transparent background
            </label>
            <div class="flexbox">
              <button class="savebtn" onclick="saveImage('F')">Front</button>
              <button class="savebtn" onclick="saveImage('B')">Back</button>
            </div>
          </div>
          <div class="menu-label">
            <span style="margin-left: 5px;">Config and checkbox state</span>
            <div class="flexbox">
              <button class="savebtn" onclick="saveSettings()">Export</button>
              <button class="savebtn" onclick="loadSettings()">Import</button>
            </div>
          </div>
          <div class="menu-label">
            <span style="margin-left: 5px;">Save bom table as</span>
            <div class="flexbox">
              <button class="savebtn" onclick="saveBomTable('csv')">csv</button>
              <button class="savebtn" onclick="saveBomTable('txt')">txt</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="fileinfodiv" style="overflow: auto;">
      <table class="fileinfo">
        <tbody>
          <tr>
            <td id="title" class="title">
              <a href="{{ object.get_absolute_url }}">
                {{ object.reference_number_str }}: {{ object.name }}
              </a>
            </td>
            <td>
              <div>
                <video id="barcode_video" width="1920" height="1080">
                </video>
              </div>
              <div>
                <input type="text" id="barcode_input" />
              </div>
            </td>
            <td class="inventory_record">
              <div>
                Inventory Number:
                <span class="inventory_record_field"
                      id="inventory_record_reference_number">
                  xxxx-yyyyyyyyyy
                </span>
                Count:
                <input class="inventory_record_field inventory_values"
                      id="inventory_record_count" type="number"
                      value="zzzzzz" />
                +/-
                <input class="inventory_record_field inventory_values"
                      id="inventory_record_accuracy" type="number"
                      value="uuuuuu" />
                <button type="button" class="inventory_record_button"
                        id="inventory_record_update_quantity">
                  Update
                </button>
              </div>
              <div>
                <label for="inventory_record_remove_count">Remove</label>
                <input type="number" id="inventory_record_remove_count"
                       value="0" />
                <button type="button" class="inventory_record_button"
                        id="inventory_record_remove_n_button">
                  Remove count
                </button>
                <button type="button" class="inventory_record_button"
                        id="inventory_record_remove_one_button">
                  Remove one
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="bot" class="split" style="height: calc(100% - 80px)">
    <div id="bomdiv" class="split split-horizontal">
      <div style="width: 100%">
        <input id="reflookup" class="textbox searchbox reflookup hideonprint" type="text" placeholder="Ref lookup"
               oninput="updateRefLookup(this.value)">
        <input id="filter" class="textbox searchbox filter hideonprint" type="text" placeholder="Filter"
               oninput="updateFilter(this.value)">
        <div class="button-container hideonprint" style="float: left; margin: 0;">
          <button id="copy" title="Copy bom table to clipboard"
               onclick="saveBomTable('clipboard')"></button>
        </div>
      </div>
      <div id="dbg"></div>
      <table class="bom" id="bomtable">
        <thead id="bomhead">
        </thead>
        <tbody id="bombody">
        </tbody>
      </table>
    </div>
    <div id="canvasdiv" class="split split-horizontal">
      <div id="frontcanvas" class="split" touch-action="none" style="overflow: hidden">
        <div style="position: relative; width: 100%; height: 100%;">
          <canvas id="F_bg" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
          <canvas id="F_fab" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
          <canvas id="F_slk" style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>
          <canvas id="F_hl" style="position: absolute; left: 0; top: 0; z-index: 3;"></canvas>
        </div>
      </div>
      <div id="backcanvas" class="split" touch-action="none" style="overflow: hidden">
        <div style="position: relative; width: 100%; height: 100%;">
          <canvas id="B_bg" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
          <canvas id="B_fab" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
          <canvas id="B_slk" style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>
          <canvas id="B_hl" style="position: absolute; left: 0; top: 0; z-index: 3;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
///USERFOOTER///
</body>

</html>
